/* app css stylesheet */
@import url(http://fonts.googleapis.com/css?family=Oswald);
 body {
    font-family: Bitter, Georgia, serif;
    height: 1000px;
    background-color: #dee4ea;
}
table {
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
tr {
    text-align: center;
}
td.country {
    text-align: left;
}
h1 {
    font-size: 44.6363639831543px;
    letter-spacing: -0.3400000035762787px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 30px;
    padding-top: 20px;
}
.inline {
    display:inline-block;
}

/* for now I wanted the text input boxes wider*/
 input[type="text"], input[type="url"] {
    width: 120%;
    box-sizing: border-box;
}


.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    font-weight: bold;
    line-height: 18px;
    color: #555;
    width:90px;
}
.legend i {
    clear: both;
    width: 20px;
    height: 16px;
    float: left;
    opacity: 0.7;
    margin-right: 8px;
}
div.box {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 100;
    padding: 1em;
    text-align: center;
}
div.country {
    font-size: 2em;
    font-weight: bold;
    z-index: 100;
    padding: .2em .5em;
    line-height: 1.1em;
    text-align: center;
    height: 50px;
    border-radius: 5px;
}
.mapholder{
    width: 600px;
}


select.selectpicker{
  width: 137px;
  height: 26px;
}

.container{
height: 2013px;
}



.filtering{

    background-color: #aeafaf;
    border: 0px;
}


.countryselected{
     font-family: Arial, Helvetica, sans-serif;
     color: grey;
}
